* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Karla';
  font-style: '';
}

.wraper {
  max-width: 1400px;
  padding: 10px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 28px;
  gap: 10px;
}

.heading__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.heading__left a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.heading__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.heading__right a {
  text-decoration: none;
  color: #1D1F2E;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 30px;
}

.cart-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-cart {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cart {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  border: 1px solid red;
}

.del {
  cursor: pointer;
}

.invisible {
  display: none;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("img/inner.jpg") bottom;
  background-repeat: no-repeat;
  color: #fff;
  gap: 10px;
  padding: 159px 293px 179px;
  margin-bottom: 120px;
}

.inner h4 {
  font-size: 12px;
  line-height: 18px;
  line-height: 128%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  vertical-align: top;
  letter-spacing: 2px;
  color: #fff;
}

.inner h1 {
  font-size: 47px;
  line-height: 60px;
  line-height: 109%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  vertical-align: top;
  color: #fff;
}

.inner p {
  font-size: 17px;
  line-height: 30px;
  line-height: 151%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  vertical-align: top;
  color: #fff;
}

.inner button {
  font-size: 18px;
  line-height: 18px;
  line-height: 128%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  vertical-align: top;
  color: #1D1F2E;
  padding: 10px 24px;
  background-color: #fff;
  border: none;
  margin-top: 48px;
  cursor: pointer;
}

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.featured h3 {
  max-width: 578px;
  font-size: 28px;
  line-height: 40px;
  line-height: 122%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  vertical-align: top;
  color: #1D1F2E;
  margin-bottom: 16px;
  text-align: center;
}

.featured p {
  max-width: 658px;
  font-size: 16px;
  line-height: 28px;
  line-height: 150%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  vertical-align: top;
  margin-bottom: 21px;
  text-align: center;
}

.featured__read {
  font-size: 15px;
  line-height: 28px;
  line-height: 160%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  vertical-align: top;
  color: #A25F4B;
  margin-bottom: 97px;
  border-bottom: 2px solid #A25F4B;
  padding-bottom: 5px;
}

.featured__mags {
  font-size: 12px;
  line-height: 18px;
  line-height: 128%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  vertical-align: top;
  letter-spacing: 2px;
  color: #1D1F2E;
  margin-bottom: 100px;
}

.featured__mags::before, .featured__mags::after {
  display: inline-block;
  content: "";
  border-top: .1rem solid #ECECED;
  width: 30px;
  margin: 0 0.5rem;
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

.featured__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 480px;
  margin-bottom: 128px;
}

.featured__card img {
  width: 460px;
  height: 540px;
}

.featured__card h4 {
  font-size: 20px;
  line-height: 30px;
  line-height: 128%;
  text-align: center;
  color: #1D1F2E;
}

.featured__card p {
  font-size: 16px;
  line-height: 28px;
  line-height: 150%;
  text-align: center;
}

.featured__card span {
  text-decoration: line-through;
  color: rgba(29, 31, 46, 0.7);
}

.featured__black {
  color: rgba(29, 31, 46, 0.7);
}

.featured__red {
  color: #A25F4B;
  font-weight: 400;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 208px;
  gap: 5px;
  margin-bottom: 160px;
}

.product {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 64px;
}

.product img {
  margin-bottom: 15px;
}

.product h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1D1F2E;
  margin-bottom: 5px;
}

.product p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 10px;
}

.product button {
  background-color: #1D1F2E;
  color: #fff;
  border: none;
  padding: 8px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */